
h1{
    text-align: center;
    font-size: 3rem;
}

.city{
    text-align: center;
    font-size: 2rem;
}

.TheResult {
    text-align: center;
}

body{
    background-color: rgb(202, 231, 241);
}

.weatherOutput{
    font-size: 2rem;;
}
.weatherOutput img{
    width: 7%;
    padding: 0 20px;
}



